body{
    background-color: linen;
}
.header{
    background-image: url(imgas/real-estate.jpg);
    padding: 0px 0px 500px 0px;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    background-color: aquamarine;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    display: inline-block;
}
.header-text{
    background-color: aquamarine;
    font-size: 35px;
    text-shadow: 0 0 1px black;
}
.top-activities{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}   
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card1{
    margin-left: 75px;
}
#bulding{
    width: 100px;
    border-radius: 50%;

}
#sports{
    width: 150px;
    border-radius: 50%;

}
#picnic{
    width: 100px;
    border-radius: 50%;
}
.card1 p{
    margin-right: 500px;
}
.card2 p{
    margin-right: 300px;
}